<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category id="general" label="General">
        <setting label="Instance URL" type="text" id="instance_url" default="https://pipedapi.kavin.rocks/"/>
        <setting label="Region" type="text" id="region" default="FR"/>
        <setting label="Search history max entries" type="number" id="search_history_max_entries" default="20"/>
    </category>
</settings>
